.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0px 100px 50px 100px;
  text-align: center;
}

.step {
  text-align: center;
}

.step h2 {
  color: #25CAAC;
  font-size: 2rem;
  font-weight: bold;
}

.step p {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
}
