* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

.Container {
  display: flex;
  justify-content: center;
  height: 100vh; /* Ocupa todo el alto de la ventana */
}

.Box {
  width: 80vw;
}




